
html,body{
    background-image: url("img/madera8.jpg");
    padding:0;
    margin: 1% 2%;
    color: white;
    font-family: 'Patrick Hand', cursive;
}

/*PARTE DEL MODAL*/

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 250px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.contenidomodal {
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    color: black;
}


/*TITULO*/

header{
	text-align: center;
    margin-bottom: 3%;
}

#logo{
    margin: auto;
    text-align: center;
}

header img{
    margin-top: 2%;
    width: 15%;
    height: 15%;
    min-width: 150px;
}

header p{
    font-size: 120%;
    font-family: 'Patrick Hand', cursive;
    margin: auto;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
    font-size: 280%;
}


/*PARTE JUEGO*/

.zonas{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
    text-align: center;
}


.zonas > div{    
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: rgba(0, 0, 0,0.4);
    align-self: center;
    margin: auto;
    padding: 1% 3%;
    min-height: 600px;

}

#puzzle > div{
    outline: 2px white solid ;
}

#anyadir_foto{
    margin: 20% 0%;
}
canvas{
    outline: black 2px solid;
    display: block;
    margin: 5% auto;
}

/*CONTENIDO ACERCA*/

.contenido {
    text-align: center;
    margin: auto;
}

.contenido article{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: rgba(0, 0, 0,0.4); 
    color: white;
    display: inline-block;
    width: 300px;
    margin: 2.5% 2.5%;
}

.contenido article a{
    font-family: 'Patrick Hand', cursive;
    transition: color 0.2s ease-in-out ;
    color: #0BA25D;
    text-decoration: none;
    font-size: 120%;
}

.contenido article .titulo-receta{
    font-size: 150%;
}

.contenido article a:hover{
    color: #99e88b;
}

.contenido article img{
    width: 100%;
}

.contenido article{
    transition: transform 0.2s ease-in-out;
}
.contenido article:hover{
    transform:scale(1.1);
}

/*ACERCA*/

#acerca{
    font-size: 120%;
    text-align: center;
    margin: auto;
}

.autor-acerca{
    display: inline-block;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: rgba(0, 0, 0,0.4); 
    width: 400px;
    margin: 5% 2%;
}

.autor-acerca p{
	width: 100%;
}

.fuente{
    font-size: 80%;
}


.centrado{
    text-align: center;
    color: white;
    font-family: 'Patrick Hand', cursive;
    font-size: 120%;
}

.centrado a, .centrado button{
    text-decoration: none;
    color:#f2f2f2;
}

.centrado a:hover, .centrado button:hover{
    text-decoration: none;
    color:#0BA25D;
}

.acerca{
   max-width: 90%;
   margin: 0 auto;
}


footer{
    text-align: center;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color:  rgba(0,0,0,0.4);
    font-family: 'Patrick Hand', cursive;
    padding: 8px;
    margin-top: 1%;
}

footer a {
    color: white;
}

footer a:hover {
    color: #0BA25D;
}


@media screen and (max-width: 1000px) {
    .zonas{
        margin: auto;
        display: block;
    }

    .zonas > div{    
        width: 60%;
        margin: 5% auto;
        display: block;
        min-width: 360px;
    }
}

@media screen and (max-width: 1280px) {


}





