html,body{
    background-image: url("img/madera8.jpg");
    padding:0;
    margin: 1% 2%;
    color: white;
}
/*TITULO*/

header{
    
   background-color:  rgba(255,255,255,0.1);
    margin-bottom: 3%;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
}

#logo{
    margin: auto;
    text-align: center;
}

header img{
    margin-top: 2%;
    width: 10%;
    height: 10%;
}

header p{
    font-size: 120%;
    font-family: 'Patrick Hand', cursive;
    margin: auto;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

.form-vertical input {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-vertical textarea{
    width: 100%;
}

.form-busqueda{
    text-align: center;
    background-color:#9dff35;
    color: black;
}

.form-busqueda input {
  padding: .2em;
}

.form-busqueda label {
  width: 25%;
  float: left;
}

.form-vertical input[type=submit] {
    width: 100%;
    background-color: #2bb213;
    color: white;
    padding: 1% 1%;
    margin: 1% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-vertical input[type=submit]:hover {
    background-color: #5ae241;
    color: black;
}

.menu-horizontal{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.menu-horizontal a{
    display: inline-block;
    transition: background-color 0.2s ease-in-out , color 0.5s ease-in-out ;
    background-color: #f2f2f2;
    color: #333333;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 150%;
    padding: 0% 3%;
    margin: 2% 0%;
}

.menu-horizontal a:hover{
    color: #FCFAF9;
    background-color: #4cb539;

}

.menu-horizontal a:last-child:hover{
    color: white;
    background-color: red;

}


.contenido {
    text-align: center;
    margin: auto;
}

.contenido article{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: rgba(248, 255, 244,0.2); 
     color: black;
    display: inline-block;
    width: 300px;
    margin: 1% 2%;
}

#info-receta{
    padding-top: 5%;
    width: 90%;
}

.contenido article a{
    font-family: 'Patrick Hand', cursive;
    transition: color 0.2s ease-in-out ;
    color: #000000;
    text-decoration: none;
    font-size: 120%;
}

.contenido article .titulo-receta{
    font-size: 150%;
}

.contenido article a:hover{
    color: white;
}

.contenido article img{
    width: 100%;
}

#apartado-foto-receta{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    padding:5% 0;
    margin: 0 5%;
    background-color: #FCFAF9;
}

.comentarios{
    padding: 1% 2%;
    outline: 0.1em black solid;
    text-align: left;
    margin-bottom: 2%;
}

.centrado{
    text-align: center;
    color: white;

    font-family: 'Patrick Hand', cursive;
    font-size: 120%;
    }

.centrado a{
    text-decoration: none;
    color:#f2f2f2;
}

.acerca{

}

footer{
    text-align: center;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color:  rgba(255,255,255,0.1);
    color: white;
    font-family: 'Patrick Hand', cursive;
    padding: 8px;
}

footer a {
    color: white;
}





.img-contenedor img {
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
width:100%;
}
.img-contenedor:hover img {
-webkit-transform:scale(1.25);
-moz-transform:scale(1.25);
-ms-transform:scale(1.25);
-o-transform:scale(1.25);
transform:scale(1.25);
}
.img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
width:300px;
height:180px;
overflow:hidden;
}