html,body{
    background-color: #FCFAF9;
    padding:0;
    margin: 1% 2%;
}
/*TITULO*/

header{
    background-color: #9dff35;
    margin-bottom: 3%;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
}

#logo{
    margin: auto;
    text-align: center;
}

header img{
    margin-top: 2%;
    width: 15%;
    height: 15%;
}

header p{
    font-size: 120%;
    font-family: 'Patrick Hand', cursive;
    margin: auto;
    text-align: center;
}


.form-vertical input {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-vertical textarea{
    width: 100%;
}

.form-vertical input[type=submit] {
    width: 100%;
    background-color: #007c16;
    color: white;
    padding: 1% 1%;
    margin: 1% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-vertical input[type=submit]:hover {
    background-color: #00590f;
}

.menu-horizontal{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
}

.menu-horizontal a{
    display: inline-block;
    transition: background-color 0.2s ease-in-out , color 0.5s ease-in-out ;
    background-color: #f2f2f2;
    color: #333333;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 150%;
    padding: 0% 3%;
    margin: 2% 0%;
}

.menu-horizontal a:hover{
    color: #FCFAF9;
    background-color: #007c16;
}


.boton_no_molon{
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 0;
    right: 0;
}

.contenido {
    text-align: center;
    margin: auto;
}

.contenido article{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: #9dff35;
    display: inline-block;
    width: 300px;
    margin: 1% 2%;
}

#info-receta{
    padding-top: 5%;
    width: 90%;
}

.contenido article a{
    font-family: 'Patrick Hand', cursive;
    transition: color 0.2s ease-in-out ;
    color: #333333;
    text-decoration: none;
    font-size: 120%;
}

.contenido article .titulo-receta{
    font-size: 150%;
}

.contenido article a:hover{
    color: #007c16;
}

.contenido article img{
    max-width: 90%;
}

#apartado-foto-receta{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    padding:5% 0;
    margin: 0 5%;
    background-color: #FCFAF9;
}

.comentarios{
    padding: 1% 2%;
    outline: 0.1em black solid;
    text-align: left;
    margin-bottom: 2%;
}

footer{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: #9dff35;
    font-family: 'Patrick Hand', cursive;
    overflow: hidden;
    position: relative;
}