html,body{
    background-image: url("img/madera8.jpg");
    padding:0;
    margin: 1% 2%;
    color: white;
}
/*TITULO*/

header{

    margin-bottom: 3%;
}

#logo{
    margin: auto;
    text-align: center;
}

header img{
    margin-top: 2%;
    width: 10%;
    height: 10%;
}

header p{
    font-size: 120%;
    font-family: 'Patrick Hand', cursive;
    margin: auto;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

.form-vertical input {
    width: 100%;
    padding: 1% 1%;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-vertical textarea{
    width: 100%;
}

.form-busqueda{
    text-align: center;
    background-color:#9dff35;
    color: black;
}

.form-busqueda input {
  padding: .2em;
}

.form-busqueda label {
  width: 25%;
  float: left;
}

.form-vertical input[type=submit] {
    width: 100%;
    background-color: #2bb213;
    color: white;
    padding: 1% 1%;
    margin: 1% 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-vertical input[type=submit]:hover {
    background-color: #5ae241;
    color: black;
}

.menu-horizontal{
    text-align: center;
    width: 100%;
    box-sizing: border-box;

}

.menu-horizontal a{
    display: inline-block;
    transition: background-color 0.2s ease-in-out , color 0.5s ease-in-out ;
    background-color: #0BA25D;
    color: #333333;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 180%;
    padding: 0% 3%;
    margin: 1% 0%;
}

.menu-horizontal a:hover{
    color: black;
    background-color: #99e88b;

}

.menu-horizontal a:last-child:hover{
    color: white;
    background-color: #ef4839;

}


.contenido {
    text-align: center;
    margin: auto;
}

.contenido article{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color: rgba(0, 0, 0,0.4); 
     color: white;
    display: inline-block;
    width: 300px;
    margin: 1% 2%;
}

#info-receta{
    padding-top: 5%;
    width: 90%;
}

.contenido article a{
    font-family: 'Patrick Hand', cursive;
    transition: color 0.2s ease-in-out ;
    color: #0BA25D;
    text-decoration: none;
    font-size: 120%;
}

.contenido article .titulo-receta{
    font-size: 150%;
}

.contenido article a:hover{
    color: white;
}

.contenido article img{
    width: 100%;
}

.contenido article{
    transition: transform 0.2s ease-in-out;
}
.contenido article:hover{
    transform:scale(1.1);
}


#apartado-foto-receta{
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    padding:5% 0;
    margin: 0 5%;
    background-color: #FCFAF9;
}

.comentarios{
    padding: 1% 2%;
    outline: 0.1em black solid;
    text-align: left;
    margin-bottom: 2%;
}

.centrado{
    text-align: center;
    color: white;

    font-family: 'Patrick Hand', cursive;
    font-size: 120%;
    }

.centrado a{
    text-decoration: none;
    color:#f2f2f2;
}

.acerca{

}

footer{
    text-align: center;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,0.63);
    background-color:  rgba(0,0,0,0.3);
    color: white;
    font-family: 'Patrick Hand', cursive;
    padding: 8px;
}

footer a {
    color: white;
}


